version: '3'
services:
  pgdb-course:
#    networks:
#      - sandbox
#    network_mode: host
    container_name: pgdb-course
    environment:
      - DB_NAME=course
      - PGDATA=/var/lib/postgresql/data/course
      - POSTGRES_PASSWORD=123456
    image: 'postgres:12.3-alpine'
    expose:
      - '5431'
    ports:
      - '5431:5432'
    restart: always
    volumes:
      - .src/course/pgdb:/docker-entrypoint-initdb.d:ro

  server:
    container_name: server_test
    network_mode: host
    build: .
    expose:
      - 8080
#    links:
#      - pgdb-course:pgdb-course
#    ports:
#      - '8080:8080'
    # restart: always
#    depends_on:
#      - pgdb-course
#    networks:
#      - sandbox
#    extra_hosts:
#      - "host.docker.internal:host-gateway"


#networks:
#  sandbox:
#    external: false